<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Hi my name is Ivan, its my first app on Rails, i'm a junior RoR developer <br> and here is my <a href="https://github.com/EvanBrightside">GitHub</a>
</p>